/* https://www.longren.io/wrapping-text-inside-pre-tags/ */
pre.softwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

code.newline {
    counter-increment: lineNumbers;
}

/* https://material.io/resources/color/ */
.highlighted-span {
    background-color: #90caf9; /*#aed581;*/
    cursor: pointer;
}

.selected-span {
    background-color: #e3f2fd; /*#dcedc8;*/
    cursor: pointer;
}

.active-span {
    background-color: #ffb74d; /*#ffcc80;/*#ffaa60;*/
    cursor: pointer;
}

.grouped-span {
    background-color: #ffe0b2; /*#ffd0a8;*/
    cursor: pointer;
}

.ignored-span {
    color: white;
}

.ignored-span:not(.grouped-span):not(.active-span):not(.selected-span):not(.highlighted-span) {
    color: lightgrey;
}

.invisible-span {
    visibility: hidden;
}
