.summary {
    height: 300px;
}

.summary-exit {
    opacity: 1;
    max-height: 400px;
}

.summary-exit-active {
    max-height: 0px;
    opacity: 0.5;
    transition: opacity 600ms, max-height 600ms ease-out;
}

.summary-exit-done {
    height: 10px;
}
