.summary {
    height: 0px;
}

.summary-appear-done,
.summary-appear-active {
    height: 300px;
}

.summary-enter {
    max-height: 0px;
    opacity: 0.5;
}

.summary-enter-active {
    height: 300px;
    opacity: 1;
    max-height: 400px;
    transition: opacity 400ms, max-height 400ms ease-out;
}

.summary-enter-done {
    height: 300px;
}

.summary-exit {
    opacity: 1;
    max-height: 400px;
}

.summary-exit-active {
    height: 300px;
    max-height: 0px;
    opacity: 0.5;
    transition: opacity 400ms, max-height 400ms ease-out;
}

.summary-exit-done {
    height: 0px;
}
